button:not(:disabled), [type=button]:not(:disabled){
    color: rgb(17, 25, 73)
}

.bg::before{
    opacity:0.5
}
.bg::after{
    opacity:0.5
}

// .original{
//     max-width: 721px;
//     transition: all 0.75s;
// }

// .original:hover{
//     width:57vw;
//     max-width: 57vw;
//     height: 50vh;
// }

// .original:hover .img-fluid{
//     max-width: 10vh;
//     max-height: 7vh;
//     margin: 1vh;
//     transition: all 0.75s;
// }

// .original:hover .prdct-img {
//     width:10%
// }

// .original:hover .card-text{
//     max-height: 40vh;
//     width:45vw;
//     max-width: 45vw;

// }

//  .card-text{
//     overflow: hidden;
//     text-overflow: ellipsis;
//     /* max-width: 41vh; */
//     max-height: 13vh;
// }

body {
    overflow-x: hidden; 
}

.original{
    width:85vw;
    max-width: 85vw;
    height: 57vh;
}

.img-fluid{
    max-width: 20vh;
    max-height: 15vh;
    margin: 1vh;
    transition: all 0.75s;
}

.img-fluid:hover{
    max-width: 30vh;
    max-height: 25vh;
    margin: 1vh;
    transition: all 0.75s;
}

 .prdct-img {
    width:15%; 
}


 .card-text{
   
    width:70vw;
    max-width: 70vw;

}

 

.zindx{
    width:40vh;
    top:35vh;
    height:40vh;
    left:75vw;
    transition: all 0.75s;
}

.zindx:hover{
    width:67vw;
    left:20vw;
    height:60vh;
}

@media only screen and (max-width: 600px) {
   
    .original{
        width:910w;
        max-width: 97vw;
        height:160vh ;
        margin-top: 45vh;
    }

    .bg{
        height:170vh ;
    }
    #myTabContent{
        height: 173vh;
    }
    #myTab{
        gap: 2px !important;;
    }
    .nav-item{
        width:fit-content;
        font-size: 0.9em!important;
        height: 8vh;
        padding:0;
        margin:0;
    }

    .nav-item button:not(:disabled){
        margin: 3px !important;
        
        font-weight: 800;
    }
    #break-tab{
        width: 0 !important;
    }

    #liveToast{
        width: 70vw !important;
    }
    .toast-container{
        right: 10% !important;
    }
    #h_it_w_crsl{
      
      left: -8vh;
    position: relative;
    }

    .img-fluid {
        max-width: 10vh;
        margin-left: 5vh;
    }
  }